<body>
  <div class="main">
    <div class="intro">
        <h3>Λίγα λόγια για την εφαρμογή μας...</h3>
        Κύριος σκοπός της εφαρμογής μας είναι η ομαλή και αποτελεσματική λειτουργία του Πανεπιστήμιου Πατρών.
        <br>Μπορείς να δηλώσεις οποιαδήποτε βλάβη δεις εντός Πανεπιστημίου πανεύκολα και γρήρορα.
        <br>Βοήθησε και εσύ για μια καλύτερη εμπειρία στο Πανεπιστήμιο μας <i class="fa-regular fa-face-grin-wink"></i>
    </div>


    <div class="us">
    <div class="first">
      <h3>Θεοδώρου Γιάννης</h3>
      <p>Email: mail@giannis.com</p>
      <p>Τηλ.επικοινωνίας: 12345</p>
    </div>
    <div class="divider"></div>
    <div class="second">
      <h3>Γκουνέλας Δημήτρης</h3>
      <p>Email: mail@dimitris.com</p>
      <p>Τηλ.επικοινωνίας: 6789</p>
    </div>
  </div>
  </div>


</body>