* {
  font-family: sans-serif;
}
:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgb(181, 255, 197);
  
  background-repeat: no-repeat;
}

.main {
  background-color: rgb(255, 255, 255);
  width: 30em;
  height: 100%;
  margin: 5em auto;
  border-radius: 5em;
  text-align: center;
  padding-bottom: 2em;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  height: 5em;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
 margin-left: 2em;
 margin-right: 2em;
}

li{
  width: 100%;
  margin-bottom: 1.5em;
}

.incompleted_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100%;
  height: auto;
  text-align:left;
  text-decoration: none;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.left-content {
  flex: 1;
  margin-left: 1em;
}

.eventButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30%; /* Adjust width to match left-content width */
}
.eraseBtnLabel{
  margin-right: 0.5em;
}
.editBtnLabel,
.eraseBtnLabel {
  margin-left: 0.5em;
}

.editBtnLabel a,
.eraseBtnLabel a {
  text-decoration: none;
}

.editBtnLabel button,
.eraseBtnLabel button {
  cursor: pointer;
}
.fa-solid {
  background-color: white;
  border: none;
  border-radius: 0.8em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  transition: all 0.03s ease;
}

.fa-solid:hover{
  transform: scale(1.1);
}

.fa-pen {
  color: black;
}

.fa-trash-can {
  color: red;
}

@media (max-width: 768px) {
  body {
      background-color: white;
  }

  .main {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 150%;
      margin: 0;
      border-radius: 5em;
      text-align: center;
      padding-bottom: 2em;
  }

  h2 {
      margin-top: 5em;
      font-size: 1.2em;
  }
}

@media (max-height: 768px) {
  body {
      background-color:white ;
      overflow: visible;
  }

  .main {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 150%;
      margin: 0;
      border-radius: 5em;
      text-align: center;
      padding-bottom: 2em;
  }
}
